body {
  font-family: "Scada", sans-serif !important;
}
.avatar {
  width: 250px;
}
.card {
  min-height: 620px;
}

.about-container,
.contact-container,
.resume-container,
.title-text {
  font-size: 36px !important;
}
.footer-container,
.navbar-brand,
.navbar {
  font-size: 24px !important;
}
.navbar {
  background-image: url("./assets/bg.jpg");
}
